# Data Science Tools And Ecosystem

# In this notebook, data science tools and ecosystem are summarized

***Objectives:***
* Some of the popular language data scientist use
* Data scince tools
* Arithmetic expression

# Some of the popular language data scientists use are:
1. Python
2. R
3. C++

# Some of the commonly used libraries used by Data Scientists include:
1. Tensor flow
2. NumPy
3. Scipy

| Data Science Tools |
|--------------------|
RStudio
Apache Spark
Tensor Flow

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
a = str (200/60)
print(a + " hours")

3.3333333333333335 hours

## Author
Haris Iqbal Khan